* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background: black;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a {
  color: white;
}

.navbar-toggler {
  background-color: white;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.jumbotron{
  padding-right: 0;
  padding: 2rem 2rem;
}

.display-4,
.lead {
  margin-top: 20px;
  text-align: center;
}

.col-sm-4 > h1,h2,p{
  text-align: center;
}

.carousel{
  margin-top: 20px;
}

.col-sm-12 h2{
  margin-top: 20px;
}
.col-sm-12 img{
  display: block;
  margin: 0 auto;
}

footer{
  left: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
  color: white;
  background: black;
  text-align: center;
}